#pragma code_page(65001)

#include "version.hpp"
#include <windows.h>

#define VER_FILEVERSION        EMU_VERSION_MAJOR,EMU_VERSION_MINOR,EMU_VERSION_PATCH,0
#define VER_FILEVERSION_STR    EMU_VERSION

#define VER_PRODUCTVERSION        EMU_VERSION_MAJOR,EMU_VERSION_MINOR,EMU_VERSION_PATCH,0
#define VER_PRODUCTVERSION_STR    EMU_VERSION

#ifndef EMU_DEBUG_ENABLED
#define VER_DEBUG 0
#else
#define VER_DEBUG VS_FF_DEBUG
#endif

1 VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VER_DEBUG
FILEFLAGS       VER_DEBUG
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      EMU_VERSION_NAME
            VALUE "FileDescription",  "Nesmancer"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     EMU_VERSION_NAME
            VALUE "LegalCopyright",   ""
            VALUE "OriginalFilename", "chip8.exe"
            VALUE "ProductName",      EMU_VERSION_NAME
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
